@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-family: "Montserrat", sans-serif;
}

.poppins-font {
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}

.logo {
  color: #ff6600;
}

.border {
  border: 2px solid black;
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.max-width {
  width: calc(100% - 80px);
  margin-left: auto;
  margin-right: auto;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-top: 10px;
}
.button {
  background-color: #ff6600;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px 20px;
  align-items: center;
  justify-items: center;
}
.background {
  margin-top: 10px;
  margin-bottom: 10px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url("./assets/headerImg.png");

  height: 500px;
  width: 100%;
}

.badge-card {
  width: 40px;
  height: 35px;

  border: 3px solid white;
  border-radius: 40px;
}

.badge-person {
  border: 3px solid white;
  width: 42px;
  height: 42px;
  border-radius: 40px;
  object-position: center;
}
.relative {
  position: relative;
}
.img-2-absolute {
  position: absolute;
  left: 35px;
}
.img-3-absolute {
  position: absolute;
  left: 70px;
}
.badge-card-button {
  position: absolute;
  left: 100px;
  top: 5px;
  border-radius: 20px;
  border: none;
  padding: 8px 20px;
  font-weight: 600;
  color: #242a33;
}

.heading-content {
  margin-top: 80px;
}

.heading {
  color: aliceblue;
  font-size: 64px;
  margin-bottom: 20px;
}

.heading-paragraph {
  color: aliceblue;
  margin-bottom: 20px;
}
.shopbtn {
  margin-top: 20px;
  padding: 10px 40px;
}
.product-noseclip {
  margin-top: 80px;
  gap: 50px;
  /* justify-content: space-between; */
}
.noseclip-image {
  width: 450px;
}
.noseclip-image-container {
  border-radius: 20px;
  background-color: #fff0e6;
}
.product-image {
  width: 100px;
  height: 100px;
  align-content: center;
}
.selected-product {
  border-radius: 10px;
}

.selected-product-background-color {
  background-color: #6b2b00;
}
.product-background-color {
  background-color: #f8fafb;
}
.products {
  margin-top: 20px;
  justify-content: space-between;
}

.product-ratings {
  align-items: center;
}

.rating {
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
}

.product-image-container {
  width: 50%;
}
.reviews {
  width: 50%;
}
.product-name {
  margin-top: 14px;
  color: #12151a;
  font-size: 40px;
  font-weight: 600;
}

.original-prize {
  font-weight: 600;
  font-size: 48px;
  color: #6b2b00;
}
.before-price {
  color: #12151a;
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.12px;
  text-decoration-line: line-through;
  margin-right: 10px;
}
.saveBtn {
  background-color: #ff6600;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 16px;
  font-weight: 600;
}
.price-section {
  gap: 4px;
  align-items: center;
  margin-bottom: 10px;
}

.description-heading {
  font-size: 32px;
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 12px;
}
.description {
  text-align: justify;
  text-justify: inter-word;
}

.features-container {
  margin-top: 16px;
  gap: 40px;
}
.features {
  font-size: 18px;
  list-style: none;
  font-weight: 500;
}
.single-feature {
  gap: 8px;
  display: flex;
  align-items: center;
}
.addToCardBtn {
  margin-top: 40px;
  width: 100%;
}
.paymentMethods {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.faq {
  margin-top: 10px;
}
.faq-question {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.border-bottom {
  border-color: #ffd0b0;
}
.men-sleep-problem {
  padding-top: 60px;
  margin-top: 80px;
  padding-bottom: 48px;
  justify-content: space-between;
}
.men-cannot-sleep-conatainer {
  border-radius: 20px;
  width: 48%;
}
.men-cannot-sleep-image {
  border-radius: 20px;
  width: 100%;
  transform: rotateY(180deg);
}

.pain-point-content {
  width: 48%;
  margin-top: auto;
  margin-bottom: auto;
}

.panic-man {
  background-color: #6b2b00;
}
.pain-points-heading {
  color: white;
  font-weight: 600;
  font-size: 48px;
}

.pain-point-second-heading {
  color: white;
  font-weight: 600;
  font-size: 24px;
  margin: 14px 0px;
}

.pain-point-description {
  color: white;
  line-height: 160%;
  letter-spacing: 0.08px;
  font-weight: 500;
  margin-bottom: 14px;
}
.panic-point-list {
  font-weight: 600;
  list-style: none;
  color: white;
  line-height: 160%;
  letter-spacing: 0.08px;
}

.solution-heading {
  color: white;
  font-size: 48px;
  font-weight: 600;
  line-height: 130%;
}
.solution-heading-paragraph {
  font-size: 24px;
  color: white;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.12px;
  padding-bottom: 64px;
}
.solutions {
  list-style: none;
  font-weight: 600;
  color: white;
  line-height: 160%;
  letter-spacing: 0.08px;
}
.tikmark {
  margin-right: 4px;
}
.solution-overview-first-part {
  width: 48%;
  margin-top: auto;
  margin-bottom: auto;
}
.nosepin-inhand {
  width: 48%;
}
.nosepin-inhand-image {
  width: 100%;
  height: 478px;
  border-radius: 20px;
}
.solution-container {
  justify-content: space-between;
}

.black-white-image-container {
  width: 100%;
}
.black-white-image {
  width: 100%;
  height: 300px;
}

.how-it-work-first-part {
  width: 48%;
}
.how-it-works-heading {
  font-size: 48px;
  color: white;
  font-weight: 600;
  line-height: 130%;
}
.how-it-works-paragraph {
  color: white;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.08px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.beautiful-men-head-image {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}

.howItWorkSection {
  justify-content: space-between;
  margin-top: 80px;
}
.steps {
  width: 48%;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.step {
  border-radius: 12px;
  background-color: #ff6600;
  padding: 24px;
  position: relative;
}

.step-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.12px;
}
.step-description {
  margin-top: 16px;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.07px;
  text-align: justify;
  font-weight: 400;
  text-justify: inter-word;
}

.stepBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 12px;
  border: none;
  border-radius: 0px 12px;
  color: white;
  background-color: #b54800;
}

.secondaryStepBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 12px;
  border: none;
  border-radius: 0px 12px;
  color: white;
  background-color: #ff6600;
}

.secondaryStep {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 24px;
  position: relative;
}

.step-list{
  margin-left: 35px;
}